/* Write your CSS here */
.match-card {
  background-color: #0f172a;
  border-radius: 15px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-name {
  font-family: 'Bree Serif';
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
}
.image {
  height: 160px;
  width: 100px;
}

.result {
  font-family: 'Bree Serif';
  color: #ffffff;
  font-size: 15px;
}

.status {
  font-family: 'Bree Serif';
  color: #a4261d;
  font-size: 20px;
  font-weight: bold;
}
