/* Write your CSS here */
.main-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top-section {
  display: flex;
  flex-direction: row;
}

.team-card-container {
  display: flex;
  flex-direction: column;
  
}
.heading {
  font-family: 'Bree Serif';
  font-weight: bold;
  color:#ffffff;
  font-size: 30px;
}
