/* Write your CSS here */
.latest-match-container {
  background-color: #1e293b;
  display: flex;
  flex-direction: row;
}

.text-data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 15px;
}
